.newsletter-modal {
  background: #FFE9DC;
  padding: 2rem;
  width: calc(100% - 4rem);

  h3 {
    text-align: center;
  }
  .newsletter-form, .submitted {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .newsletter-form {
    color: #B11B26;
  }

  .submitted {
    .coupon {
      display: flex;

      & > * {
        padding: 1rem;
        text-align: center;
      }

      span {
        background: #fff;
        color: #B11B26;
        flex: 2;
        border: 1px dashed #CECECE;

        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
      }

      button {
        background: #B11B26;
        flex: 1;

        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;

        font-size: 14px;
        @media screen and (min-width: 375px) {
          font-size: 16px;
        }
        @media screen and (min-width: 768px) {
          font-size: 18px;   
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 2rem;
    justify-content: center;
    
    h3 {
      font-size: 18px;
      display: flex;
      align-items: center;
    }

    .newsletter-form, .submitted {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;

      h3 {
        height: fit-content;
        display: block;
      }
    }
  }
}
