.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;

  &__content {
    display: flex;
        
    align-items: center;
    justify-content: space-between;
    
    width: calc(100% - 2rem);
    padding: 1rem;
    
    .logo {
      width: 35%;
    }
    nav {
      display: flex;
      gap: 1rem;
      color: #fff;

      p {
        display: flex;
        align-items: start;
        gap: 2px;
      }
    }

    @media screen and (min-width: 425px) {
      width: calc(100% - 3rem);
      padding: 1.5rem;
      nav {
        gap: 1.5rem;
      }
    }
  
    @media screen and (min-width: 768px) {
      width: calc(100% - 4rem);
      padding: 2rem;
      nav {
        gap: 2rem;
      }
    }
  }

  &.scrolled {
    background-color: #fff;
    .logo {
      filter: invert(1);
    }
    nav {
      color: #000;
    }
  }
}


