.header {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  .logo {
    width: 35%;
  }
  nav {
    display: flex;
    gap: 1rem;
    .icon {
      color: #fff;
      font-size: 20px;
    }
  }

  &.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: #fff;
    .logo {
      filter: invert(1);
    }
    nav {
      .icon {
        color: #000;
      }
    }
  }
}

@media screen and (min-width: 375px) {
  .header {
    nav {
      .icon {
        font-size: 24px;
      }
    }
  }
}
@media screen and (min-width: 425px) {
  .header {
    padding: 1.5rem;
    nav {
      gap: 1.5rem;
      .icon {
        font-size: 26px;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding: 2rem;
    nav {
      gap: 2rem;
      .icon {
        font-size: 32px;
      }
    }
  }
}