.header {
  &__content {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    .logo {
      width: 35%;
    }
    nav {
      display: flex;
      gap: 1rem;
      .icon {
        color: #fff;
      }
    }
  }

  &.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: #fff;
    .logo {
      filter: invert(1);
    }
    nav {
      .icon {
        color: #000;
      }
    }
  }

  @media screen and (min-width: 425px) {
    &__content {
      padding: 1.5rem;
      nav {
        gap: 1.5rem;
      }
    }
  }
  @media screen and (min-width: 768px) {
    &__content {
      padding: 2rem;
      nav {
        gap: 2rem;
      }
    }
  }
}
