.blog {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: #F7F7F7;
  
  .title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    h6 {
      color: #8A8A8A;
    }
  }
}
