h1, h2, h3, h4, h5, h6, p, button, input, label, select, figure, a, span, figcaption, li {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 135%;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
}

h2 {
  font-size: 22px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  font-weight: 500;

  @media screen and (min-width: 375px) {
    font-size: 21px;
  }
  @media screen and (min-width: 768px) {
    font-size: 24px;   
  }
}

h4, figcaption {
  font-size: 16px;
  font-weight: 400;

  @media screen and (min-width: 375px) {
    font-size: 18px;
  }
  @media screen and (min-width: 768px) {
    font-size: 20px;   
  }
}

h5, li {
  font-size: 14px;
  font-weight: 400;

  @media screen and (min-width: 375px) {
    font-size: 16px;
  }
  @media screen and (min-width: 768px) {
    font-size: 18px;   
  }
}

h6 {
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
}

p {
  font-size: 12px;
  font-weight: 400;
  
  strong {
    font-weight: 400;
  }

  @media screen and (min-width: 375px) {
    font-size: 14px;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;   
  }
}

span {
  font-size: 12px;
  font-weight: 400;

  @media screen and (min-width: 375px) {
    font-size: 14px;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;   
  }
}

button {
  color: #fff;
  
  font-size: 12px;
  font-weight: 400;
  
  background: none;
  border: none;
  cursor: pointer;

  @media screen and (min-width: 375px) {
    font-size: 14px;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;   
  }
}

label {
  font-size: 14px;
  font-weight: 400;
  
  @media screen and (min-width: 375px) {
    font-size: 16px;
  }
  @media screen and (min-width: 768px) {
    font-size: 18px;   
  }
}

input, select {
  width: 100%;
  border: none;
  outline: none;
  color: #8a8a8a;
  background: transparent;
  height: 100%;

  font-size: 12px;
  font-weight: 400;

  @media screen and (min-width: 375px) {
    font-size: 14px;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;   
  }
}

.icon {
  font-size: 20px !important;
  @media screen and (min-width: 375px) {
    font-size: 24px !important;
  }
  @media screen and (min-width: 425px) {
    font-size: 26px !important;
  }
  @media screen and (min-width: 768px) {
    font-size: 32px !important;   
  }
}

.close {
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  width: 24px;
  height: 24px;

  .icon {
    color: #8a8a8a;
    font-size: 10px !important;
  }

  @media screen and (min-width: 375px) {
    width: 28px;
    height: 28px;
    .icon {
      font-size: 12px !important;
    }
  }
  @media screen and (min-width: 425px) {
    width: 32px;
    height: 32px;
    .icon {
      font-size: 14px !important;
    }
  }
  @media screen and (min-width: 768px) {
    width: 36px;
    height: 36px;
    .icon {
      font-size: 16px !important;   
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}