h1, h2, h3, h4, h5, h6, p, button, input, label {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 135%;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

h2 {
  font-size: 22px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  font-weight: 400;
}

h5 {
  font-size: 14px;
  font-weight: 400;
}

h6 {
  font-size: 11px;
  font-weight: 300;
}

p {
  font-size: 12px;
  font-weight: 400;
  
  strong {
    font-weight: 400;
  }

  @media screen and (min-width: 375px) {
    font-size: 14px;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;   
  }
}

button {
  font-size: 12px;
  font-weight: 400;
  
  background: none;
  border: none;
  cursor: pointer;

  @media screen and (min-width: 375px) {
    font-size: 14px;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;   
  }
}

label {
  font-size: 14px;
  font-weight: 400;
  
  @media screen and (min-width: 375px) {
    font-size: 16px;
  }
  @media screen and (min-width: 768px) {
    font-size: 18px;   
  }
}

input {
  width: 100%;
  padding: 0.8rem;

  border: 1px solid #eee;
  border-radius: 0;
  color: #8a8a8a;
  &:focus {
    border: 1px solid #ccc;
    outline: none;
  }

  font-size: 12px;
  font-weight: 400;

  @media screen and (min-width: 375px) {
    font-size: 14px;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;   
  }
}

.icon {
  font-size: 20px !important;
  @media screen and (min-width: 375px) {
    font-size: 24px !important;
  }
  @media screen and (min-width: 425px) {
    font-size: 26px !important;
  }
  @media screen and (min-width: 768px) {
    font-size: 32px !important;   
  }
}