.banner {
  width: 100%;
  position: relative;

  img {
    width: 100%;
  }

  .discover {
    position: absolute;
    left: 1rem;
    bottom: 2rem;
    
    p {
      background: #ffffff33;
      border: 1px solid #fff;

      padding: 1rem 2rem;
      cursor: pointer;
      &:hover {
        background: #ffffff88;
      }

      color: #fff;
      text-decoration-line: underline;
      
      font-size: 14px;
      font-weight: 400;
    
      @media screen and (min-width: 375px) {
        font-size: 16px;
      }
      @media screen and (min-width: 768px) {
        font-size: 18px;   
      }
    }
  }

  @media screen and (min-width: 769px) {
    .discover {
      width: calc(100% - 2rem);
      display: flex;
      justify-content: center;
    }
  }
}
